@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #1e5167;
  background: #00b3ff;
  font-family: "Roboto" !important;
}

.error {
  color: #ff0000;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: "Roboto" !important;
}

.ant-card-body {
  padding: 0 !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.loader{
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
}